<ion-view view-title="List Notes" ng-controller="listCtrl">
    <ion-content>
        <ion-list show-reorder="reordering">
            <ion-item class="item-remove-animate item-icon-right" href="#/edit/{{note.id}}" ng-repeat="note in notes">
                <h2>{{note.title}}</h2>

                <p>{{note.description}}</p>
                <i class="icon ion-chevron-right"></i>
                <ion-reorder-button class="ion-navicon"
                                    on-reorder="moveItem(note, $fromIndex, $toIndex)">
                </ion-reorder-button>
                <ion-option-button class="button-assertive icon-left ion-trash-a" ng-click="remove(note.id)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar bar-footer bar-stable ">
        <a href="#/add" class="button button-positive icon-left ion-compose">New note</a>
        <button class="button button-light icon-left ion-shuffle" ng-click="toggleReordering()">Reorder</button>
    </ion-footer-bar>
</ion-view>